<!-- Poem Editor Page -->
<%let {category} = poem %>
<% let catStr = categories.map(category => category.name).join(', ')%>

<main class="container main">
  <form action="/poems/<%=poem.id%>?_method=PUT" method="POST" class="writer-form">
    <!-- title -->
    <h2><span class="cursive">Pluma</span><span class="type-font">/editor</span></h2>
    <input class="input-title" type="text" name="title" value="<%=poem.title%>" autocomplete="off" /><br />
    <!-- content -->
    <textarea name="content" id="editPad" class="notepad type-font"><%-poem.content%></textarea>

    <div class="writer-options">
      <div class="group category-box">
        <input type="text" name="category" value="<%= catStr %>" />
      </div>

      <div class="group publish-box">
        <label for="isPublished">Publish poem?</label>
        <input type="checkbox" name="isPublished" <%=poem.isPublished ?
            "checked" : "" %> />
      </div>

      <button class="save-btn" type="submit">Save Changes</button>
    </div>
  </form>


  <!-- Writer Tools -->
  <% include ../partials/writerTools %>
</main>