<!-- Poem Editor Page -->
<%let {category} = poem %>
<!--  -->
<% let catStr = categories.map(category => category.name).join(', ')
%>

<form action="/poems/<%=poem.id%>?_method=PUT" method="POST">
  <!-- title -->
  <input type="text" name="title" value="<%=poem.title%>" /><br />
  <!-- content -->
  <textarea name="content" id="" cols="30" rows="10">
<%-poem.content%></textarea
  >
  <br />
  <label for="isPublished">Publish poem?</label>
  <input type="checkbox" name="isPublished" <%=poem.isPublished ?
  "checked" : "" %> />
  <br />
  <!-- category -->
  <input type="text" name="category" value="<%= catStr %>" />
  <br />

  <input type="submit" value="Save Changes" />
</form>
