<!-- Shows one poem -->
<% let {title, content,hearts, isPublished, user} = poem %>
<header>
  <div class="container title-bar">
    <h2><span class="type-font"><%= title %></span> by <%= user.name %></h2>
  </div>
</header>

<div class="show-page container main">
  <main class="">
    <pre><%- content %></pre>

    <em>
      Categories: <% categories.forEach(category => { %>
      <a class="highlight" href="/categories/<%=category.id%>"><span><%= category.name %></span></a>
      <% }); %>
    </em>
    <hr />
    <section class="comment-box">
      <h3>Comments:</h3>
      <ul>
        <% if (comments.length == 0) { %>
        <blockquote>&mdash;</blockquote>
        <% } %>
        <% comments.forEach(comment => { %>
        <li>
          <blockquote><%= comment.content %></blockquote>
          <cite>&mdash;<a class="highlight" href="/users/<%=comment.user.id%>"><%= comment.user.name%></a></cite>
        </li>
        <% }) %>
      </ul>
    </section>

    <% if(currentUser){ %>
    <section class="add-comment-box">
      <h3>Add Comments:</h3>
      <form action="/comments" method="POST">
        <input type="hidden" name="poemId" value="<%=poem.id %>" />
        <h4><%= currentUser.name %></h4>
        <input type="hidden" name="userId" value="<%=currentUser.id%>" />
        <input type="text" name="content" placeholder="Comment">
        <button class="btn" type="submit">Post Comment</button>
      </form>
    </section>
    <% } else { %>
    <section class="add-comment-box">
      <h3>Sign up or Log in to comment</h3>
    </section>
    <% } %>
  </main>

  <aside>
    <h3>Poems by <a class="highlight type-font" href="/users/<%= user.id%>"><%= user.name%></a>:</h3>
    <ul>
      <% more.forEach(entry => { %>
      <li><a class="type" href="poems/<%=entry.id%>"><%=entry.title%></a></li>
      <% }) %>
    </ul>

  </aside>



</div>